.athlete-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.athlete-info {
  display: flex;
  max-width: 700px;
  min-width: 280px;
  width: 80%;
  height: 240px;
  gap: 20px;
}

.athlete-info .information-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.athlete-info .image-container {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.athlete-info .image-container img {
  height: 100%;
  width: auto;
  max-width: none;
}

.athlete-info span {
  display: flex;
  gap: 20px;
}
