.allstar-team-tab {
  width: 100%;
  height: 100%;
}

.allstar-team-tab .user-team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 10px;
}
