.signup-tab {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding: 20px;
  align-items: center;
}

.signup-tab input {
  height: 28px;
}

.red {
  color: #c20902;
}

.signup-tab .error-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
}

@media (max-width: 400px) {
  .signup-tab {
    padding: 10px 10px;
  }
}
