.pagination-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.pagination-display {
  width: 90%;
  padding: 40px 20px;
  height: auto;
  border: 1px solid rgb(199, 199, 199);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 5px;
  overflow: hidden;
}

.pagination-list .button-container {
  padding: 10px;
  width: 100%;
  justify-content: center;
  gap: 5px;
}

.pagination-list .item-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
