.pagination-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.pagination-display {
  width: 90%;
  padding: 20px;
  height: auto;
  background-color: rgb(82, 82, 82);
  overflow-y: auto;
}

.pagination-list .button-container {
  padding: 10px;
  width: 100%;
  justify-content: center;
  gap: 5px;
}
