.team-card {
  width: 100%;
  height: 325px;
}

.team-card .name-container {
  padding-top: 5px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  gap: 5px;
}

.team-card .team-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 40%;
  height: 100%;
}

.team-card .user-team-container {
  gap: 10px;
}

.team-card .attributes-container {
  width: 65%;
  height: 100%;
  padding-right: 10px;
}

.team-card .attributes-container .attributes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-card .athlete-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.team-card .image-container {
  width: 100%;
  height: 120px;
}

.team-card .flex {
  border: 1px solid rgb(155, 154, 154);
  border-radius: 5px;
  height: auto;
  align-items: center;
}
