.team-row {
  width: 100%;
  max-width: 1000px;
  height: 120px;
  border: 1px solid rgb(140, 140, 140);
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20% 55% 25%;
}

.team-row .placement-container,
.team-row .athlete-container,
.team-row .info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.team-row .info-container {
  flex-direction: column;
  gap: 15px;
}

.team-row p {
  text-align: center;
}

.team-row .image-container {
  height: 100%;
  width: 100%;
}

.team-row .image-container img {
  width: 100%;
  height: 100%;
}
