.attribute {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.attribute .title-container {
  min-width: 75px;
  width: 90px;
  text-align: left;
}

.progress-bar {
  width: 60%;
  height: 10px;
  border-radius: 4px;
  background-color: aliceblue;
  position: relative;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 10px;
  border-radius: 4px;
  background-color: rgb(49, 135, 25);
}

.progress-value {
  width: 28px;
  text-align: center;
}
