.athlete-card {
  height: auto;
  width: 100%;
  min-width: 0;
  border: 1px solid white;
  border-radius: 10px;
}

.athlete-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.athlete-card .image-container {
  width: 50%;
  height: auto;
}

.athlete-card .attribute-container {
  width: 50%;
  height: 100%;
}
