.filters section {
  display: flex;
  gap: 8px;
}

.filters {
  display: flex;
  justify-content: space-around;
  width: 75%;
  padding: 30px 35px;
  border-radius: 10px;
  border: 1px solid white;
}
