.modal {
  background-color: var(--background-primary);
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.close-container {
  display: flex;
  justify-content: flex-end;
}

.modal.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.modal .close-container button {
  padding: 3px 5px;
  font-size: 12px;
}

@media (max-width: 850px) {
  .modal.middle {
    width: 100% !important;
    height: 100vh !important;
  }
}
