.user-form {
  min-width: 270px;
}

.user-form section {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.user-form .user-form-button {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 300px) {
  .user-form {
    min-width: 100%;
  }
}
