* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(56, 56, 56);
  color: white;
}

#root {
  max-width: 100vw !important;
  padding: 0 !important;
  margin: 0 !important;
}
