:root {
  --background-primary: rgb(56, 56, 56);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
  color: white;
}

#root {
  max-width: 100vw !important;
  padding: 0 !important;
  margin: 0 !important;
}
