:root {
  --background-primary: rgb(56, 56, 56);
  --primary-color: white;
  --secondary-color: rgb(225, 225, 225);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}

html,
body {
  overflow-x: hidden;
  font-size: 14px;
}

body {
  background-color: var(--background-primary);
  color: white;
  overflow-y: scroll;
}

#root {
  max-width: 100vw !important;
  padding: 0 !important;
  margin: 0 !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

input,
select {
  height: 22px;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid rgb(217, 217, 217);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: center;
}

textarea {
  resize: none;
}

button:hover {
  background-color: rgb(41, 41, 41);
}

button.active {
  background-color: rgb(235, 235, 235);
  color: black;
  cursor: default;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-plain {
  border: none;
}

.button-plain:disabled {
  color: rgb(138, 138, 138);
}

.flex {
  display: flex;
  gap: 5px;
}

.dim {
  color: rgb(198, 198, 198);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}
