:root {
  --background-primary: rgb(56, 56, 56);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
  color: white;
  overflow-y: scroll;
}

#root {
  max-width: 100vw !important;
  padding: 0 !important;
  margin: 0 !important;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

input,
select {
  height: 22px;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid rgb(217, 217, 217);
}
