.tool-tip {
  position: relative;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-tip .icon {
  width: 13px;
  height: 13px;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.information-display {
  position: absolute;
  display: block;
  background: rgb(70, 70, 70);
  padding: 10px;
  font-size: 14px;
  top: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
  white-space: normal;
  width: 300px;
  z-index: 50;
  border-radius: 5px;
  transition: opacity 0.15s;
  pointer-events: none;
  opacity: 0;
}
.tool-tip:hover {
  cursor: pointer;
}

.tool-tip:hover .information-display,
.tool-tip:focus-within .information-display {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 400px) {
  .information-display {
    width: 200px;
  }
}
